# Środowisko wirtualne
venv/
.venv/
dbt_venv/

# Pliki tymczasowe Pythona
__pycache__/
*.pyc
*.pyo
*.pyd

data/*
!data/.gitkeep

.env

# ==========================================
# DBT (Data Build Tool) ARTIFACTS
# ==========================================
# Ignorujemy skompilowane pliki SQL, logi i pobrane paczki
dbt/target/
dbt/dbt_packages/
dbt/logs/

# ==========================================
# AIRFLOW & DOCKER ARTIFACTS
# ==========================================
logs/*
!logs/.gitkeep
airflow.cfg
webserver_config.py
postgres-data/

# ==========================================
# PLIKI LOKALNE / TYMCZASOWE
# ==========================================
*.duckdb
*.duckdb.wal
dbt/.user.yml
_run_docker_test.py

